In [17]:
import requests
import nba_api
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from nba_api.stats.endpoints import playercareerstats
from nba_api.live.nba.endpoints import scoreboard
from nba_api.stats.endpoints import scoreboardv2
from nba_api.stats.endpoints import playbyplayv2
from datetime import datetime, timedelta
from nba_api.stats.endpoints import boxscoretraditionalv2
from time import sleep

In [6]:
today = datetime.today()
start_date = datetime(2024, 10, 22)
date_list = [start_date + timedelta(days=x) for x in range((today - start_date).days)]

# Print the list of dates
for date in date_list:
    print(date.strftime('%Y-%m-%d'))

2024-10-22
2024-10-23
2024-10-24
2024-10-25
2024-10-26
2024-10-27
2024-10-28
2024-10-29
2024-10-30
2024-10-31
2024-11-01
2024-11-02
2024-11-03
2024-11-04
2024-11-05
2024-11-06
2024-11-07
2024-11-08
2024-11-09
2024-11-10
2024-11-11
2024-11-12
2024-11-13
2024-11-14
2024-11-15
2024-11-16
2024-11-17
2024-11-18
2024-11-19
2024-11-20
2024-11-21
2024-11-22
2024-11-23
2024-11-24
2024-11-25
2024-11-26
2024-11-27

In [10]:
games_df = pd.DataFrame()
# Step 1: Specify the Date (e.g., today's date)
for date in date_list:
# Step 2: Fetch Games on the Date
    try:
        scoreboard_data = scoreboardv2.ScoreboardV2(game_date=date)
        scoreboard = scoreboard_data.get_data_frames()[0]
        # Step 3: Convert to DataFrame
        games_df = pd.concat([games_df, scoreboard], ignore_index=True)
        sleep(0.5)
    except Exception as e:
        print(f"Failed to fetch data")
        
# Step 4: Extract Relevant Game Info
# print(games_df[['GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'GAME_STATUS_TEXT']])

In [11]:
games_df

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,HOME_TV_BROADCASTER_ABBREVIATION,AWAY_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,ARENA_NAME,WH_STATUS,WNBA_COMMISSIONER_FLAG
0,2024-10-22T00:00:00,1,0022400061,3,Final,20241022/NYKBOS,1610612738,1610612752,2024,4,,TNT,None,None,Q4 - TNT,TD Garden,1,0
1,2024-10-22T00:00:00,2,0022400062,3,Final,20241022/MINLAL,1610612747,1610612750,2024,4,,TNT,None,None,Q4 - TNT,Crypto.com Arena,1,0
2,2024-10-23T00:00:00,1,0022400063,3,Final,20241023/INDDET,1610612765,1610612754,2024,4,,None,FDSNDT,FDSNIN,Q4 -,Little Caesars Arena,1,0
3,2024-10-23T00:00:00,2,0022400064,3,Final,20241023/BKNATL,1610612737,1610612751,2024,4,,None,FDSNSE-ATL,YES,Q4 -,State Farm Arena,1,0
4,2024-10-23T00:00:00,3,0022400065,3,Final,20241023/ORLMIA,1610612748,1610612753,2024,4,,None,FDSNSU,FDSNFL,Q4 -,Kaseya Center,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,2024-11-27T00:00:00,10,0022400295,3,Final,20241127/TORNOP,1610612740,1610612761,2024,4,,None,GCSEN,TSN,Q4 -,Smoothie King Center,1,0
274,2024-11-27T00:00:00,11,0022400296,3,Final,20241127/LALSAS,1610612759,1610612747,2024,4,,None,FDSNSW,SPECSN,Q4 -,Frost Bank Center,1,0
275,2024-11-27T00:00:00,12,0022400297,3,Final,20241127/BKNPHX,1610612756,1610612751,2024,4,,None,KTVK/KPHE,YES,Q4 -,Footprint Center,1,0
276,2024-11-27T00:00:00,13,0022400298,3,Final,20241127/DENUTA,1610612762,1610612743,2024,4,,None,KJZZ,ALT2/KTVD,Q4 -,Delta Center,1,0
277,2024-11-27T00:00:00,14,0022400299,3,Final,20241127/OKCGSW,1610612744,1610612760,2024,4,,ESPN,NBCSBA,None,Q4 - ESPN,Chase Center,1,0

In [12]:
gameID = games_df['GAME_ID']
gameID

0      0022400061
1      0022400062
2      0022400063
3      0022400064
4      0022400065
          ...
273    0022400295
274    0022400296
275    0022400297
276    0022400298
277    0022400299
Name: GAME_ID, Length: 278, dtype: object

In [35]:
pbp_df = pd.DataFrame()
# Example Game ID (You can get this from team game logs or live scoreboard)
for game_id in gameID:  # Replace with the desired game ID

# Fetch Play-by-Play data
#     try:
        pbp = playbyplayv2.PlayByPlayV2(game_id=game_id)
        
        # Convert to Pandas DataFrame
        stats = pbp.get_data_frames()[0]
        pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
        sleep(6*10e-3)
    # except Exception as e:
    #     print(f"Failed to fetch data")
pbp_df

C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25584\2993771670.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  pbp_df = pd.concat([pbp_df, stats], ignore_index=True)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0022400061,2,12,0,1,7:36 PM,12:00,None,Start of 1st Period (7:36 PM EST),None,...,None,None,0,0,None,NaN,None,None,None,0
1,0022400061,4,10,0,1,7:36 PM,12:00,Jump Ball Horford vs. Towns: Tip to White,None,None,...,Knicks,NYK,4,1628401,Derrick White,1.610613e+09,Boston,Celtics,BOS,1
2,0022400061,7,1,79,1,7:36 PM,11:48,Tatum 27' 3PT Pullup Jump Shot (3 PTS) (White 1 AST),None,None,...,Celtics,BOS,0,0,None,NaN,None,None,None,1
3,0022400061,9,1,6,1,7:37 PM,11:27,None,None,Anunoby 6' Driving Layup (2 PTS) (Brunson 1 AST),...,Knicks,NYK,0,0,None,NaN,None,None,None,1
4,0022400061,11,2,79,1,7:37 PM,11:16,MISS Tatum 26' 3PT Pullup Jump Shot,None,None,...,None,None,0,0,None,NaN,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124987,0022400039,661,3,12,4,12:22 AM,0:26,Okogie Free Throw 2 of 2 (4 PTS),None,None,...,None,None,0,0,None,NaN,None,None,None,1
124988,0022400039,662,6,2,4,12:22 AM,0:17,Okogie S.FOUL (P2.PN) (J.Orr),None,None,...,Lakers,LAL,1,0,None,NaN,None,None,None,1
124989,0022400039,664,3,11,4,12:23 AM,0:17,None,None,Russell Free Throw 1 of 2 (15 PTS),...,None,None,0,0,None,NaN,None,None,None,1
124990,0022400039,665,3,12,4,12:23 AM,0:17,None,None,Russell Free Throw 2 of 2 (16 PTS),...,None,None,0,0,None,NaN,None,None,None,1
124991,0022400039,666,13,0,4,12:23 AM,0:00,None,End of 4th Period (12:23 AM EST),None,...,None,None,0,0,None,NaN,None,None,None,1

In [28]:
pbp_df.columns

Index(['GAME_ID', 'EVENTNUM', 'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD',
       'WCTIMESTRING', 'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION',
       'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN', 'PERSON1TYPE',
       'PLAYER1_ID', 'PLAYER1_NAME', 'PLAYER1_TEAM_ID', 'PLAYER1_TEAM_CITY',
       'PLAYER1_TEAM_NICKNAME', 'PLAYER1_TEAM_ABBREVIATION', 'PERSON2TYPE',
       'PLAYER2_ID', 'PLAYER2_NAME', 'PLAYER2_TEAM_ID', 'PLAYER2_TEAM_CITY',
       'PLAYER2_TEAM_NICKNAME', 'PLAYER2_TEAM_ABBREVIATION', 'PERSON3TYPE',
       'PLAYER3_ID', 'PLAYER3_NAME', 'PLAYER3_TEAM_ID', 'PLAYER3_TEAM_CITY',
       'PLAYER3_TEAM_NICKNAME', 'PLAYER3_TEAM_ABBREVIATION',
       'VIDEO_AVAILABLE_FLAG'],
      dtype='object')

In [29]:
# stats_in_game = pbp_df.to_numpy()
# np.save('stats_in_game.npy', stats_in_game)

In [30]:
data = np.load('stats_in_game.npy', allow_pickle=True)
data

array([['0022400061', 2, 12, ..., None, None, 0],
       ['0022400061', 4, 10, ..., 'Celtics', 'BOS', 1],
       ['0022400061', 7, 1, ..., None, None, 1],
       ...,
       ['0022400039', 664, 3, ..., None, None, 1],
       ['0022400039', 665, 3, ..., None, None, 1],
       ['0022400039', 666, 13, ..., None, None, 1]], dtype=object)

In [36]:
data = pd.DataFrame(data, columns=pbp_df.columns)

In [55]:
player_df = pd.DataFrame(gameID)

In [56]:
player_df

        GAME_ID
0    0022400061
1    0022400062
2    0022400063
3    0022400064
4    0022400065
..          ...
273  0022400295
274  0022400296
275  0022400297
276  0022400298
277  0022400299

[278 rows x 1 columns]

In [2]:
data = pd.read_csv('stats_in_game.csv')

In [ ]:
# Filter for scoring plays
scoring_plays = pbp_df[pbp_df['EVENTMSGTYPE'] == 1]

# Filter for fouls
fouls = pbp_df[pbp_df['EVENTMSGTYPE'] == 6]

# Display specific columns
print(scoring_plays[['PCTIMESTRING', 'PERIOD', 'HOMEDESCRIPTION', 'VISITORDESCRIPTION', 'SCORE']])

In [60]:
# Convert time strings to a numerical value
data['TIME_REMAINING'] = 720 - (data['PCTIMESTRING'].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1])))

In [61]:
data.to_csv('stats_in_game.csv')

In [62]:
data = pd.read_csv('stats_in_game.csv')
data

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,...,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG,TIME_REMAINING
0,0,0,0,22400061,2,12,0,1,7:36 PM,12:00,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0,0
1,1,1,1,22400061,4,10,0,1,7:36 PM,12:00,...,NYK,4,1628401,Derrick White,1.610613e+09,Boston,Celtics,BOS,1,0
2,2,2,2,22400061,7,1,79,1,7:36 PM,11:48,...,BOS,0,0,NaN,NaN,NaN,NaN,NaN,1,12
3,3,3,3,22400061,9,1,6,1,7:37 PM,11:27,...,NYK,0,0,NaN,NaN,NaN,NaN,NaN,1,33
4,4,4,4,22400061,11,2,79,1,7:37 PM,11:16,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124987,124987,124987,124987,22400039,661,3,12,4,12:22 AM,0:26,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,694
124988,124988,124988,124988,22400039,662,6,2,4,12:22 AM,0:17,...,LAL,1,0,NaN,NaN,NaN,NaN,NaN,1,703
124989,124989,124989,124989,22400039,664,3,11,4,12:23 AM,0:17,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,703
124990,124990,124990,124990,22400039,665,3,12,4,12:23 AM,0:17,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,703
124991,124991,124991,124991,22400039,666,13,0,4,12:23 AM,0:00,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1,720

In [63]:
data.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'GAME_ID', 'EVENTNUM',
       'EVENTMSGTYPE', 'EVENTMSGACTIONTYPE', 'PERIOD', 'WCTIMESTRING',
       'PCTIMESTRING', 'HOMEDESCRIPTION', 'NEUTRALDESCRIPTION',
       'VISITORDESCRIPTION', 'SCORE', 'SCOREMARGIN', 'PERSON1TYPE',
       'PLAYER1_ID', 'PLAYER1_NAME', 'PLAYER1_TEAM_ID', 'PLAYER1_TEAM_CITY',
       'PLAYER1_TEAM_NICKNAME', 'PLAYER1_TEAM_ABBREVIATION', 'PERSON2TYPE',
       'PLAYER2_ID', 'PLAYER2_NAME', 'PLAYER2_TEAM_ID', 'PLAYER2_TEAM_CITY',
       'PLAYER2_TEAM_NICKNAME', 'PLAYER2_TEAM_ABBREVIATION', 'PERSON3TYPE',
       'PLAYER3_ID', 'PLAYER3_NAME', 'PLAYER3_TEAM_ID', 'PLAYER3_TEAM_CITY',
       'PLAYER3_TEAM_NICKNAME', 'PLAYER3_TEAM_ABBREVIATION',
       'VIDEO_AVAILABLE_FLAG', 'TIME_REMAINING'],
      dtype='object')

In [44]:
players_df = pd.DataFrame()
for id in gameID:  # Use the game_id from your DataFrame
    boxscore = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=id)
    xl = boxscore.get_data_frames()[0]
    condition = xl['START_POSITION'] != ''
    players_df = pd.concat([players_df, (xl.loc[condition, ['GAME_ID', 'TEAM_ABBREVIATION', 'PLAYER_NAME', 'START_POSITION']])], ignore_index=True)
players_df

         GAME_ID TEAM_ABBREVIATION         PLAYER_NAME START_POSITION
0     0022400061               NYK          OG Anunoby              F
1     0022400061               NYK           Josh Hart              F
2     0022400061               NYK  Karl-Anthony Towns              C
3     0022400061               NYK       Mikal Bridges              G
4     0022400061               NYK       Jalen Brunson              G
...          ...               ...                 ...            ...
2775  0022400299               GSW      Andrew Wiggins              F
2776  0022400299               GSW    Jonathan Kuminga              F
2777  0022400299               GSW      Draymond Green              C
2778  0022400299               GSW    Lindy Waters III              G
2779  0022400299               GSW  Brandin Podziemski              G

[2780 rows x 4 columns]

In [57]:
for i in range(278):
    cond1 = players_df['GAME_ID'] == player_df['GAME_ID'][i]
    player_df.loc[i, 'TEAM_1'] = players_df.loc[cond1,'TEAM_ABBREVIATION'].unique()[0]
    player_df.loc[i, 'PLAYER_1.1'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[0]
    player_df.loc[i, 'PLAYER_1.2'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[1]
    player_df.loc[i, 'PLAYER_1.3'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[2]
    player_df.loc[i, 'PLAYER_1.4'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[3]
    player_df.loc[i, 'PLAYER_1.5'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[4]
    player_df.loc[i, 'TEAM_2'] = players_df.loc[cond1,'TEAM_ABBREVIATION'].unique()[1]
    player_df.loc[i, 'PLAYER_2.1'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[5]
    player_df.loc[i, 'PLAYER_2.2'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[6]
    player_df.loc[i, 'PLAYER_2.3'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[7]
    player_df.loc[i, 'PLAYER_2.4'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[8]
    player_df.loc[i, 'PLAYER_2.5'] = players_df.loc[cond1,'PLAYER_NAME'].unique()[9]


player_df

,GAME_ID,TEAM_1,PLAYER_1.1,PLAYER_1.2,PLAYER_1.3,PLAYER_1.4,PLAYER_1.5,TEAM_2,PLAYER_2.1,PLAYER_2.2,PLAYER_2.3,PLAYER_2.4,PLAYER_2.5
0,0022400061,NYK,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,BOS,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
1,0022400062,MIN,Jaden McDaniels,Julius Randle,Rudy Gobert,Anthony Edwards,Mike Conley,LAL,Rui Hachimura,LeBron James,Anthony Davis,Austin Reaves,D'Angelo Russell
2,0022400063,IND,Aaron Nesmith,Pascal Siakam,Myles Turner,Andrew Nembhard,Tyrese Haliburton,DET,Tim Hardaway Jr.,Tobias Harris,Jalen Duren,Jaden Ivey,Cade Cunningham
3,0022400064,BKN,Ben Simmons,Cameron Johnson,Dorian Finney-Smith,Cam Thomas,Dennis Schröder,ATL,De'Andre Hunter,Jalen Johnson,Clint Capela,Dyson Daniels,Trae Young
4,0022400065,ORL,Franz Wagner,Paolo Banchero,Wendell Carter Jr.,Kentavious Caldwell-Pope,Jalen Suggs,MIA,Jimmy Butler,Nikola Jović,Bam Adebayo,Tyler Herro,Terry Rozier
...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,0022400295,TOR,Ochai Agbaji,RJ Barrett,Jakob Poeltl,Scottie Barnes,Ja'Kobe Walter,NOP,Brandon Boston Jr.,Javonte Green,Yves Missi,CJ McCollum,Dejounte Murray
274,0022400296,LAL,Rui Hachimura,LeBron James,Anthony Davis,Dalton Knecht,Austin Reaves,SAS,Julian Champagnie,Harrison Barnes,Victor Wembanyama,Stephon Castle,Chris Paul
275,0022400297,BKN,Ben Simmons,Ziaire Williams,Dorian Finney-Smith,Cameron Johnson,Dennis Schröder,PHX,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
276,0022400298,DEN,Michael Porter Jr.,Peyton Watson,Nikola Jokić,Christian Braun,Jamal Murray,UTA,Svi Mykhailiuk,Micah Potter,Walker Kessler,Collin Sexton,Keyonte George
277,0022400299,OKC,Luguentz Dort,Jalen Williams,Isaiah Hartenstein,Isaiah Joe,Shai Gilgeous-Alexander,GSW,Andrew Wiggins,Jonathan Kuminga,Draymond Green,Lindy Waters III,Brandin Podziemski

In [37]:
#demo

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0022400061,1610612752,NYK,New York,1628384,OG Anunoby,OG,F,,34.000000:10,...,0.0,5.0,5.0,3.0,1.0,0.0,0.0,3.0,4.0,-21.0
1,0022400061,1610612752,NYK,New York,1628404,Josh Hart,Josh,F,,24.000000:30,...,1.0,3.0,4.0,3.0,0.0,0.0,1.0,0.0,12.0,-23.0
2,0022400061,1610612752,NYK,New York,1626157,Karl-Anthony Towns,Karl-Anthony,C,,23.000000:37,...,0.0,7.0,7.0,3.0,0.0,0.0,0.0,1.0,12.0,-18.0
3,0022400061,1610612752,NYK,New York,1628969,Mikal Bridges,Mikal,G,,34.000000:37,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,16.0,-33.0
4,0022400061,1610612752,NYK,New York,1628973,Jalen Brunson,Jalen,G,,24.000000:30,...,0.0,1.0,1.0,2.0,0.0,0.0,4.0,3.0,22.0,-23.0
5,0022400061,1610612752,NYK,New York,1630579,Jericho Sims,Jericho,,,24.000000:23,...,3.0,6.0,9.0,1.0,0.0,2.0,1.0,0.0,4.0,-5.0
6,0022400061,1610612752,NYK,New York,1630540,Miles McBride,Miles,,,25.000000:51,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,1.0,22.0,-18.0
7,0022400061,1610612752,NYK,New York,1626166,Cameron Payne,Cameron,,,20.000000:43,...,1.0,2.0,3.0,4.0,1.0,0.0,1.0,3.0,11.0,0.0
8,0022400061,1610612752,NYK,New York,1642359,Pacôme Dadiet,Pacôme,,,13.000000:23,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,3.0,10.0
9,0022400061,1610612752,NYK,New York,1630574,Ariel Hukporti,Ariel,,,6.000000:05,...,0.0,4.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,9.0
10,0022400061,1610612752,NYK,New York,1642278,Tyler Kolek,Tyler,,,5.000000:24,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,7.0
11,0022400061,1610612752,NYK,New York,1631210,Jacob Toppin,Jacob,,,2.000000:47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0022400061,1610612738,BOS,Boston,1627759,Jaylen Brown,Jaylen,F,,29.000000:54,...,2.0,5.0,7.0,1.0,1.0,0.0,1.0,3.0,23.0,23.0
13,0022400061,1610612738,BOS,Boston,1628369,Jayson Tatum,Jayson,F,,30.000000:18,...,0.0,4.0,4.0,10.0,1.0,1.0,1.0,1.0,37.0,26.0
14,0022400061,1610612738,BOS,Boston,201143,Al Horford,Al,C,,26.000000:05,...,0.0,3.0,3.0,5.0,1.0,1.0,0.0,2.0,11.0,19.0
15,0022400061,1610612738,BOS,Boston,1628401,Derrick White,Derrick,G,,26.000000:38,...,0.0,3.0,3.0,4.0,1.0,0.0,0.0,1.0,24.0,21.0
16,0022400061,1610612738,BOS,Boston,201950,Jrue Holiday,Jrue,G,,30.000000:31,...,2.0,2.0,4.0,4.0,1.0,0.0,0.0,2.0,18.0,23.0
17,0022400061,1610612738,BOS,Boston,1628436,Luke Kornet,Luke,,,19.000000:19,...,2.0,1.0,3.0,1.0,1.0,1.0,0.0,0.0,4.0,5.0
18,0022400061,1610612738,BOS,Boston,1630202,Payton Pritchard,Payton,,,24.000000:58,...,1.0,3.0,4.0,4.0,0.0,0.0,1.0,2.0,3.0,7.0
19,0022400061,1610612738,BOS,Boston,1630573,Sam Hauser,Sam,,,24.000000:10,...,1.0,4.0,5.0,1.0,0.0,0.0,0.0,2.0,10.0,6.0
20,0022400061,1610612738,BOS,Boston,1630214,Xavier Tillman,Xavier,,,17.000000:42,...,3.0,4.0,7.0,2.0,0.0,0.0,0.0,1.0,2.0,-3.0
21,0022400061,1610612738,BOS,Boston,1641775,Jordan Walsh,Jordan,,,6.000000:05,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,-9.0
22,0022400061,1610612738,BOS,Boston,1629674,Neemias Queta,Neemias,,,4.000000:20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-3.0
23,0022400061,1610612738,BOS,Boston,1631248,Baylor Scheierman,Baylor,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0022400061,1610612738,BOS,Boston,1630531,Jaden Springer,Jaden,,DNP - Coach's Decision,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
final_data = data[['GAME_ID', 'SCOREMARGIN', 'SCORE', 'TIME_REMAINING', 'PERIOD']]

In [152]:
final_data['TEAM_1'] = None
final_data['TEAM_2'] = None
final_data['PLAYER_1.1'] = None
final_data['PLAYER_1.2'] = None
final_data['PLAYER_1.3'] = None
final_data['PLAYER_1.4'] = None
final_data['PLAYER_1.5'] = None
final_data['PLAYER_2.1'] = None
final_data['PLAYER_2.2'] = None
final_data['PLAYER_2.3'] = None
final_data['PLAYER_2.4'] = None
final_data['PLAYER_2.5'] = None

j = 0
for i in range(124992): 
        game_cond = player_df['GAME_ID'].astype(int) == final_data.loc[i, 'GAME_ID']
        final_data.loc[i, 'TEAM_1'] = player_df.loc[game_cond,'TEAM_1'].to_numpy()
        final_data.loc[i, 'PLAYER_1.1'] = player_df.loc[game_cond,'PLAYER_1.1'].to_numpy()
        final_data.loc[i, 'PLAYER_1.2'] = player_df.loc[game_cond,'PLAYER_1.2'].to_numpy()
        final_data.loc[i, 'PLAYER_1.3'] = player_df.loc[game_cond,'PLAYER_1.3'].to_numpy()
        final_data.loc[i, 'PLAYER_1.4'] = player_df.loc[game_cond,'PLAYER_1.4'].to_numpy()
        final_data.loc[i, 'PLAYER_1.5'] = player_df.loc[game_cond,'PLAYER_1.5'].to_numpy()
        final_data.loc[i, 'TEAM_2'] = player_df.loc[game_cond,'TEAM_2'].to_numpy()
        final_data.loc[i, 'PLAYER_2.1'] = player_df.loc[game_cond,'PLAYER_2.1'].to_numpy()
        final_data.loc[i, 'PLAYER_2.2'] = player_df.loc[game_cond,'PLAYER_2.2'].to_numpy()
        final_data.loc[i, 'PLAYER_2.3'] = player_df.loc[game_cond,'PLAYER_2.3'].to_numpy()
        final_data.loc[i, 'PLAYER_2.4'] = player_df.loc[game_cond,'PLAYER_2.4'].to_numpy()
        final_data.loc[i, 'PLAYER_2.5'] = player_df.loc[game_cond,'PLAYER_2.5'].to_numpy()
        if final_data.loc[i, 'GAME_ID'].astype(int) != final_data.loc[i+1, 'GAME_ID'].astype(int) and j < 277:
            j+=1
            print(j)

C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['TEAM_1'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['TEAM_2'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_1.1'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_1.2'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_1.3'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_1.4'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_1.5'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_2.1'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_2.2'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_2.3'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_2.4'] = None
C:\Users\Admin\AppData\Local\Temp\ipykernel_1932\1244145561.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['PLAYER_2.5'] = None

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

KeyError: 124992

In [153]:
# final_data
game_cond = player_df['GAME_ID'].astype(int) == final_data.loc[1000, 'GAME_ID']
print((player_df.loc[game_cond,'PLAYER_1.1']))
# player_df
# print(player_df.index())
final_data

2    Aaron Nesmith
Name: PLAYER_1.1, dtype: object

,GAME_ID,SCOREMARGIN,SCORE,TIME_REMAINING,PERIOD,TEAM_1,TEAM_2,PLAYER_1.1,PLAYER_1.2,PLAYER_1.3,PLAYER_1.4,PLAYER_1.5,PLAYER_2.1,PLAYER_2.2,PLAYER_2.3,PLAYER_2.4,PLAYER_2.5
0,22400061,NaN,NaN,0,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
1,22400061,NaN,NaN,0,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
2,22400061,3,0 - 3,12,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
3,22400061,1,2 - 3,33,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
4,22400061,NaN,NaN,44,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124987,22400039,29,98 - 127,694,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124988,22400039,NaN,NaN,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124989,22400039,28,99 - 127,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124990,22400039,27,100 - 127,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124991,22400039,27,100 - 127,720,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones

In [154]:
final_data.to_csv('final_data.csv')

In [155]:
temp = pd.read_csv('final_data.csv')
temp

,Unnamed: 0,GAME_ID,SCOREMARGIN,SCORE,TIME_REMAINING,PERIOD,TEAM_1,TEAM_2,PLAYER_1.1,PLAYER_1.2,PLAYER_1.3,PLAYER_1.4,PLAYER_1.5,PLAYER_2.1,PLAYER_2.2,PLAYER_2.3,PLAYER_2.4,PLAYER_2.5
0,0,22400061,NaN,NaN,0,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
1,1,22400061,NaN,NaN,0,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
2,2,22400061,3,0 - 3,12,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
3,3,22400061,1,2 - 3,33,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
4,4,22400061,NaN,NaN,44,1,NYK,BOS,OG Anunoby,Josh Hart,Karl-Anthony Towns,Mikal Bridges,Jalen Brunson,Jaylen Brown,Jayson Tatum,Al Horford,Derrick White,Jrue Holiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124987,124987,22400039,29,98 - 127,694,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124988,124988,22400039,NaN,NaN,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124989,124989,22400039,28,99 - 127,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124990,124990,22400039,27,100 - 127,703,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones
124991,124991,22400039,27,100 - 127,720,4,LAL,PHX,Rui Hachimura,LeBron James,Anthony Davis,Cam Reddish,Austin Reaves,Bradley Beal,Kevin Durant,Jusuf Nurkić,Devin Booker,Tyus Jones

In [ ]:
# Plot the score progression
plt.plot(scoring_plays['TIME_REMAINING'], scoring_plays['HOME_SCORE'], label='Home Team')
plt.plot(scoring_plays['TIME_REMAINING'], scoring_plays['AWAY_SCORE'], label='Away Team')
plt.gca().invert_xaxis()  # Invert time to show progression
plt.xlabel('Time Remaining (seconds)')
plt.ylabel('Score')
plt.title('Score Progression')
plt.legend()
plt.show()